@import "tailwindcss";

.header {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  display: flow;
}

.wrapper {
  flex: 1;
  margin-bottom: 20px;
  display: flow;
}

.notes-section {
  margin-bottom: 20px;
}

.edit-note {
  place-items: center;
  margin-bottom: 20px;
}

.search-bar {
  justify-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.note {
  margin-bottom: 20px;
}

@media screen {

}